.dataFound {
  text-align: center;
  color: #3c4142;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 32px;
}

.checkInCard {
  width: calc(25% - (32px * 2));
  border: 1px solid rgba(22, 21, 19, 0.1);
  background-color: #ffffff;
  border-radius: 6px;
}

.checkInCardContent {
  text-align: center;
}

.contentTitle {
  color: #3c4142;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.hLine {
  margin: auto;
  margin-top: 10px;
  border: 0.5px solid #ededed;
  max-width: 85%;
}

.checkinDetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 24px 0px 24px;
  font-size: 14px;
  font-weight: 700;
}

.checkinDetails > p {
  margin-bottom: 8px;
}

.checkinTime {
  display: flex;
  justify-content: space-between;
  margin: 0px 24px 0px 24px;
  font-size: 12px;
  font-weight: 400;
}
.checkinTime > p {
  margin-top: 0px;
}

.checkoutBtn {
  max-width: 85%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #fac776;
  border-radius: 8px;
  margin: 16px auto 16px auto;
  cursor: pointer;
}

.checkoutBtn:hover {
  background-color: #f8d59e;
}
