{% extends "base.html" %} {% block title %}{{ super() }}Check-in{% endblock %}
{% block content %}
<script>
  function removeFromCheckinList(e) {
    $.ajax({
      url: "/checkin/" + e.getAttribute("data-studentId"),
      type: "DELETE",
      success: function (data) {
        console.log(data);
      },
    });
    window.location.reload();
  }
</script>
<div>
  <nav class="navBar">
    <div class="bytesBotsLogo">
      <a href="/">
        <img src="../static/images/BytesBotsLogo.png" alt="Logo" />
      </a>
    </div>
  </nav>
  <hr />

  {% for date in data %}
  <div>
    <h2>{{date}}</h2>
    <div class="dataContainer">
      {% for student in data[date] %}
      <div class="checkInCard">
        <div class="checkInCardContent">
          <h2 class="contentTitle">{{ student.studentname }}</h2>
          <div class="hLine"></div>
          <div class="checkinDetails">
            <p>Last Check-in Date</p>
          </div>
          <div class="checkinTime">
            <p>{{student.checkintime.strftime("%Y-%m-%d")}}</p>
          </div>

          <div
            class="checkoutBtn"
            data-studentId="{{student.studentid}}"
            onclick="removeFromCheckinList(this)"
          >
            <p>Check out</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
