{% extends "base.html" %} {% block title %}{{ super() }}Home{% endblock %} {%
block content %}
<nav class="navBar">
  <div class="bytesBotsLogo">
    <img src="../static/images/BytesBotsLogo.png" alt="Logo" />
  </div>
  <div class="checkedInBtn">
    <button onclick="location.href='https://bytes-bots.herokuapp.com/'">
      Checked Ins
    </button>
  </div>
</nav>
<hr />
<div class="checkinTitle">
  <h1>Check in</h1>
</div>
<div class="searchBtn">
  <input
    type="search"
    id="search_text"
    name="search_text"
    placeholder="Search..."
  />
  <div id="loading" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div id="result"></div>
</div>

<script>
  function addtoCheckinList(e) {
    $.post("/checkin", {
      studentId: e.getAttribute("data-studentId"),
      studentName: e.getAttribute("data-studentName"),
    }).done(function (data) {
      console.log(data);
    });
    e.style.backgroundColor = "#fac776";
    e.textContent = "Checked out";
    e.style.padding = "14px 14px 14px 14px";
  }
  // e.innerHTML =
  // '<span style=" color: white; background-color: #fac776">Button clicked</span>';
  // font-size: 14px; font-weight: bold;
  // ;border: 0px; border-radius: 4px; margin: 16px 16px 0px 0px;padding: 12px 24px 12px 24px; cursor: pointer;
  function showLoading() {
    document.getElementById("loading").classList.add("show");
  }
  function stopLoading() {
    document.getElementById("loading").classList.remove("show");
  }
  function throttle(f, delay) {
    var timer = null;
    return function () {
      var context = this,
        args = arguments;
      clearTimeout(timer);
      timer = window.setTimeout(function () {
        f.apply(context, args);
      }, delay || 500);
    };
  }
  $(document).ready(function () {
    function load_data(studentName) {
      showLoading();
      $.post("/search", { studentName: studentName }).done(function (data) {
        $("#result").html(data);
        $("#result").append(data.htmlresponse);
        stopLoading();
      });
    }
    $("#search_text").keyup(
      throttle(function () {
        var search = $(this).val();
        if (search.length >= 3) {
          if (search != "") {
            load_data(search);
          } else {
            load_data();
          }
        }
      }, 1000)
    );
  });
</script>
{% endblock %}
