<div class="recordsFound">
  <h3>{{data|length}} Records Found</h3>
</div>
<div class="resultsContainer">
  {% for student in data %}
  <div class="card">
    <div class="cardContent">
      <h2 class="cardTitle">{{ student.studentname }}</h2>
      <p class="cardProfession">{{student.currentclass}}</p>
      <div class="hRule"></div>
      <div class="detailsTitles">
        <p>Total Classes</p>
        <p>Last Check-in Date</p>
      </div>
      <div class="detailsParagraphs">
        <p>{{student.noOfDebriefs}}/{{student.totalclasses}} classes used</p>

        {% if student.debriefdate %}
        <p>{{student.debriefdate}}</p>
        {% else %}
        <p>N/A</p>
        {% endif %}
      </div>

      <div class="lastMentor">
        <p>Last Mentor</p>
      </div>

      <div class="nameOfLastMentor">
        {% if student.mentorname %}
        <p>{{student.mentorname}}</p>
        {% else %}
        <p>N/A</p>
        {% endif %}
      </div>

      <div
        class="checkinBtn"
        id="checkIn"
        data-studentId="{{student.id}}"
        data-studentName="{{student.studentname}}"
        onclick="addtoCheckinList(this)"
      >
        <p>Check in</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
